 /* Sidebar Styling */
.sidebar {
  max-height: 95%;
  height: 98vh;
  width: 25%; 
  background: linear-gradient(-10deg, rgb(83, 188, 226), rgb(79, 149, 144), rgb(50, 200, 123));
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  margin-top: 1vh;
  transition: all 0.3s ease; 
}

.sidebar-logo {
  font-size: 4.5vh;
  font-family: "Futura", sans-serif;
  margin-top: 10vh;
  font-weight: bold;
  margin-bottom: 1vh;
  transition: background 0.3s ease, transform 0.4s;
  cursor: pointer;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  width: 80%;
  display: flex;
  flex-direction: column; 
  align-items: flex-end; 
  margin-top: 4vh;
}

.sidebar-item {
  color: white;
  width: 25vh; 
  padding: 2vh;
  font-size: 2.5vh;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.4s, color .3s;
  font-family: "Futura", sans-serif;
  border-radius: 8px;
  display: flex;
  border: none;
  background: none;
  position: relative;
  overflow: hidden;
  margin-top: 1vh;
}


.sidebar-item:hover {
  transform: scale(1.03);
  color: rgb(79, 149, 134);
}

.sidebar-item:active {
  transform: scale(1.08);
  color: rgb(97, 178, 159);
}

.sidebar-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 90%;
  width: 0;
  background: rgb(255, 255, 255); 
  border-top-left-radius: 35px; 
  border-bottom-left-radius: 35px; 
  border-top-right-radius: 35px; 
  border-bottom-right-radius: 35px; 
  transition: width 0.15s ease-in-out; 
  z-index: -1; 
}

.sidebar-item:hover::before {
  width: 100%; 
}

.sidebar-logo:hover {
  transform: scale(1.02);
}

@media (max-width: 1024px) {
  .sidebar {
    width: 35%; 
  }

  .sidebar-logo {
    font-size: 3.3vh; 
  }

  .sidebar-menu {
    align-items: center;
  }
  .sidebar-item {
    font-size: 1.7vh; 
    padding: 12px; 
    width: 60%; 
  }
}

@media (max-width: 912px) {
  .sidebar {
    width: 35%; 
  }

  .sidebar-logo {
    font-size: 3.3vh; 
  }

  .sidebar-item {
    font-size: 1.5vh; 
    padding: 15px; 
    width: 70%; 
  }
}

/* Medium Screens (Tablets) */
@media (max-width: 768px) {
  .sidebar {
    width: 35%; 
    border-radius: 20px; 
  }

  .sidebar-logo {
    font-size: 4vh;
  }

  .sidebar-item {
    font-size: 2vh; 
    width: 75%;  
  }
}

@media (max-width: 540px) {
  .sidebar-item {
    font-size: 2vh;
    width: 80%;
  }
}
/* Small Screens (Phones) */
@media (max-width: 480px) {
  .sidebar {
    width: 35%; 
    height: 100vh; 
    border-top-right-radius: 25px; 
    border-bottom-right-radius: 25px;
    margin: 0; 
    padding: 10px; 
    align-items: center;
    justify-content: flex-start;
  }

  .sidebar-logo {
    font-size: 2.8vh; 
  }

  .sidebar-item {
    font-size: 1.4vh;  
    width: 100%; 
  }
}

@media (max-width: 375px) {
  .sidebar {
    width: 35%; 
  }

  .sidebar-item {
    font-size: 1.4vh; 
    padding: 12px; 
    width: 90%; 
    text-align: center; 
    margin-left: 5%; 
    margin-top: 1vh;
    border-radius: 10px; 
  }
}

@media (max-width: 344px) {
  .sidebar {
    width: 40%;
  }
  .sidebar-item {
    font-size: 1.2vh;
    width: 100%;
  }
}